.container{
    margin: 2% 10%;
    font-family: sans-serif;
    font-weight: 600px;
    font-size: 20px;
}
.paragraph-container{
    margin: 0 10%;
    padding: 20px;
    line-height: 2.6rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bottom-line{
    border-bottom: 1px solid rgb(216, 204, 204);
}
.element-info img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.element-info{
    display: flex;
    padding: 10px;
    font-size: 16px;
}

.user-info{
    line-height: 1rem
}